<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application

    tools:targetApi="31">
        <activity
            android:name=".JuegoActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />


    <!-- MAIN (abre primero) - THIS COMMENT IS WRONG, IT POINTS TO LOGIN -->
    <activity
        android:name=".LoginActivity"
        android:exported="true"
        android:theme="@style/Theme.RokPeiperZizors">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <!-- LOGIN - THIS COMMENT IS WRONG, IT POINTS TO MAIN -->
    <activity
        android:name=".MainActivity"
        android:exported="false"
        android:theme="@style/Theme.RokPeiperZizors" />

    <!-- REGISTRO -->
    <activity
        android:name=".RegistroActivity"
        android:exported="false"
        android:theme="@style/Theme.RokPeiperZizors" />

    <!-- ✅ ESTA ERA LA QUE FALTABA -->
    <activity
        android:name=".ListaUsuariosActivity"
        android:exported="false"
        android:theme="@style/Theme.RokPeiperZizors" />

</application>

    </manifest>